@import url('./reset.css');

:root {
  --header-nav-color: #fff;
  --header-title-color: #fff;
}

/* class */
.box {
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  height: 400px;
  justify-content: center;
  margin: 50px auto 0px auto;
  width: 800px;
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.content {font-size: 0px;}

.content-1 {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: -2.5px;
  word-spacing: 5px;
}

.content-2 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
  margin-top: 25px;
}

.content-3 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.content-4 {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 2.5px;
}

.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  line-height: 50px;
}

.header-nav {font-size: 0px;}

.header-title {font-size: 0px;}

/* header */
header {
  background-image: url('../image/hero-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header .header .header-title h1 {
  color: var(--header-title-color);
  cursor: pointer;
  font-size: 40px;
  text-shadow: 0px 0px 4px #000;
}

header .header .header-nav nav ul li {
  color: var(--header-nav-color);
  display: inline;
  font-size: 20px;
  text-shadow: 0px 0px 4px #000;
}

header .header .header-nav nav ul li + li{
  margin-left: 20px;
}

header .box .content p {text-align: center;}